<!DOCTYPE html>
<html>

<head>
    <title>Django Instagram API</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container pt-5">
        <h1>Django Instagram API</h1>
        <hr>
        <h4>API Endpoints</h4>
        <ul>
            <li><a href="{{ request.build_absolute_uri|add:'content/' }}" target="_blank">Content API root</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'user_activity/' }}" target="_blank">User activity API
                    root</a>
            </li>
            <li><a href="{{ request.build_absolute_uri|add:'user_panel/' }}" target="_blank">User panel API root</a>
            </li>
            <li><a href="{{ request.build_absolute_uri|add:'direct/' }}" target="_blank">Messaging API root</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'logger/' }}" target="_blank">Analytics API root</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'user_panel/register/' }}" target="_blank">Registration</a>
            </li>
            <li><a href="{{ request.build_absolute_uri|add:'myadmin/' }}" target="_blank">Admin panel</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'token/' }}" target="_blank">Token Obtain Pair</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'token/refresh' }}" target="_blank">Token Refresh</a></li>

        </ul>
    </div>
</body>

</html>